# {{ansible_managed}}

[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{ zookeeper_user }}
ExecStart={{ zookeeper_conf_dir }}/bin/zookeeper-server-start.sh {{ zookeeper_conf_dir }}/config/zookeeper.properties
ExecStop={{ zookeeper_conf_dir }}/bin/zookeeper-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
